name: Tag checks

on:
  push:
    tags:
      - v*

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run checks
        run: |
          grep -P --color=always "\s+(?<=rev: )$GITHUB_REF_NAME$" README.md
          ver=${GITHUB_REF_NAME%-*}
          grep -P --color=always "(?<=/shfmt@)$ver(?=])" .pre-commit-hooks.yaml
          grep -P --color=always "(?<=/shfmt:)$ver(?=@)" .pre-commit-hooks.yaml
