name: Tag checks

on:
  push:
    tags:
      - v*

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run checks
        run: |
          grep -P --color=always "\s+(?<=rev: )$GITHUB_REF_NAME$" README.md
          ver=${GITHUB_REF_NAME%-*}
          grep -P --color=always "(?<=/shfmt@)$ver(?=])" .pre-commit-hooks.yaml
          grep -P --color=always "(?<=/shfmt:)$ver(?=@)" .pre-commit-hooks.yaml
